{% load static %}
{% load mptt_tags %}
{% load env_extras %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'img/fav.png' %}">
    <!-- meta character set -->
    <meta charset="UTF-8">
    {% block meta_tags %}{% endblock %}
    
    
    <!-- Site Title -->
    <title>{% block title_tag %}{% endblock %}</title>
    
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'css/passtrength.css' %}" media="screen" title="no title">
        <!--
        CSS
        ============================================= -->
    <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">            
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.cs' %}">
    <link rel="stylesheet" href="{% static 'css/ion.rangeSlider.css' %}" />
    <link rel="stylesheet" href="{% static 'css/ion.rangeSlider.skinFlat.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/nouislider.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_css.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- pull the css -->
    <link rel="stylesheet" href="https://unpkg.com/toastedjs/dist/toasted.min.css">

    <!-- pull the js file -->
    <script src="https://unpkg.com/toastedjs/dist/toasted.min.js"></script>
    {% block custom_css_and_links %}
    {% endblock %}
    </head>
    <body>

        <!-- Start Header Area -->
        <header class="default-header">
            <div class="menutop-wrap">
                <div class="menu-top container">
                    <div class="d-flex justify-content-between align-items-center">
                        <ul class="list">
                            <li><a href="tel:+919724408417">{% get_env_var 'CONTACT_NO' %}</a></li>
                            <li><a href="mailto:zoddoks@gmail.com">{% get_env_var 'CONTACT_MAIL' %}</a></li>                             
                        </ul>
                        <ul class="list">
                            {% if user.is_authenticated %}
                    
                            {% else %}
                                <li><a href="{% url 'accounts' %}">Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>                  
            </div>
            <!--nav bar loads from nav.html using show_categories template tag function-->
            <nav class="navbar navbar-expand-lg  navbar-light">
                <div class="container">
                    <a class="navbar-brand mt-3" href="#">
                        <img src="/media/img/logo.png" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    
                    <div class="collapse mt-2 navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
                      <ul class="navbar-nav">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Category
                                </a>
                                <div class="dropdown-menu">
                                    {% show_categories %}
                                </div>
                            </li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                    
                            {% if user.is_authenticated %}
                                <li class="dropdown">
                                <a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    Account
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'your-favorites' %}"><i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;&nbsp;Your Wishlist</a>
                                    <a class="dropdown-item" href="{% url 'change-password' %}">Change Password</a>
                                    <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;Logout</a>
                                </div>
                                </li>
                            {% endif %}									
                        </ul>
                    </div>
                </div>
                
            </nav>
            
        </header>
        <!-- End Header Area -->

        <!-- Start Banner Area -->

        {% block breadcrum %}
        {% endblock %}
        <!-- End Banner Area -->

   
        {% block content %}
        {% endblock %}
        <!-- start footer Area -->      
        <footer class="footer-area section-gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6>About Us</h6>
                            <p>
                                We provide all clothing and acessories for mens, womens and kids.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6>Contact Us</h6>
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;{% get_env_var 'CONTACT_NO' %}
                                <br/><br/>
                                <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;{% get_env_var 'OPT_CON_NO' %}
                                <br/><br/>
                                <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;{% get_env_var 'CONTACT_MAIL' %}
                            </p>
                            
                        </div>
                    </div>                      
                    <div class="col-lg-3  col-md-6 col-sm-6">
                        <div class="single-footer-widget mail-chimp">
                            <h6 class="mb-20">Instragram Feed</h6>
                            <ul class="instafeed d-flex flex-wrap">
                                <!--Insta feed will be appended here using ajax-->
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6>Follow Us</h6>
                            <p>Let us be social</p>
                            <div class="footer-social d-flex align-items-center">
                                <a href="{% get_env_var 'FACEBOOK_AC' %}"><i class="fa fa-facebook"></i></a>
                                <a href="{% get_env_var 'INSTA_AC' %}"><i class="fa fa-instagram"></i></a>
                                <a href="{% get_env_var 'TWITTER_AC' %}"><i class="fa fa-twitter"></i></a>
                                <a href="{% get_env_var 'YOUTUBE_AC' %}"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>                          
                </div>
                <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p class="footer-text m-0">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </footer>   
        <!-- End footer Area -->        

        <script src="{% static 'vendor/jquery-2.2.4.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="{% static 'vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
        <script src="{% static 'js/jquery.sticky.js' %}"></script>
        <script src="{% static 'js/ion.rangeSlider.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>           
        <script src="{% static 'js/main.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/passtrength.js' %}"></script>
        <script>
            $(document).ready(function(){
                $.ajax({
                    url:"{% get_env_var 'INSTA_AC' %}?__a=1",
                    type:'get',
                    success:function(response){
                    posts = response.graphql.user.edge_owner_to_timeline_media.edges;
                    posts_html = '';
                    for(var i=0;i<12;i++){
                        url = posts[i].node.display_url;
                        likes = posts[i].node.edge_liked_by.count;
                        comments = posts[i].node.edge_media_to_comment.count;
                        posts_html+="<li><img class='img-responsive' src='"+url+"' alt='' style='width:60px;height:60px;'></li>";
                    }
                        $(".instafeed").html(posts_html);
                    }
                });
            });
            
        </script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>