{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load env_extras %}
{% block meta_tags %}

{% endblock %}

{% block title_tag %}
  {% get_site_setting as site %}{{ site.favourite_list_page_title }}
{% endblock %}

{% block custom_css_and_links %}

{% endblock %}

{% block breadcrum %}
<section class="banner-area organic-breadcrumb">
  <div class="container mt-lg-0 mt-md-120 mt-120 mt-sm-200">
      <div class="breadcrumb-banner d-flex flex-wrap align-items-center">
          <div class="col-lg-12 col-xs-12 col-first col-sm-12 d-flex flex-wrap align-items-center">
              <a href="{% url 'home'%}">Home&nbsp;&nbsp;<i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;</a>
              <a href="{% url 'accounts'%}">Accounts&nbsp;&nbsp;<i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;</a>
              <a href="{% url 'change-password'%}">Change Password</a>
          </div>
      </div>
  </div>
</section>
{% endblock %}

{% block content %}
<div class="container">
  <div class="container">
    <div class="row success-messages">
      {% if messages %}
        {% for message in messages %}
          {% if  message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <span class="text-center"><i class="fa fa-check-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;{{message}}</span>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="row account-form">
    <div class="col-md-12">
      <div class="login-form">
        <h3 class="billing-title text-center">Change Password</h3>
        <p class="text-center mt-40 mb-30 account-sub-title">Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
        <form action="{{ request.get_full_path }}" method="POST">  
          {% csrf_token %}
          {% for field in form %}
              <label for="{{ field.name }}">{{ field.label }} <span class="error">*</span></label>
              {% ifequal field.name 'old_password' %}
              <div class="passtrengthMeter pass">
                <input type="password" name="old_password" class="common-input" required="" id="id_old_password">
                <a href=""><span class="showPassword">
                  <img src="/media/img/eye.svg">
                </span></a>
              </div>
              {% endifequal %}
              {% ifequal field.name 'new_password1' %}
              <div class="passtrengthMeter pass">
                <input type="password" name="new_password1" class="common-input" required="" id="id_new_password1">
                <a href=""><span class="showPassword">
                  <img src="/media/img/eye.svg">
                </span></a>
              </div>
              {% endifequal %}
              {% ifequal field.name 'new_password2' %}
                <div class="passtrengthMeter re_pass">
                  <input type="password" name="new_password2" class="common-input" required="" id="id_new_password2">
                  <a href=""><span class="showPassword">
                    <img src="/media/img/eye.svg">
                  </span></a>
                </div>
              {% endifequal %}
              <p class="help-text">{{ field.help_text }} </p>
              {% for error in field.errors %}
                <span class="error" id="field_errors">{{ error }}</span><br/>
              {% endfor %}
          {% endfor %}
          <span class="error" id="pass_error"></span>
          <span class="error" id="comman_pass_error"></span>
          <span class="error" id="numeric_pass_error"></span>
          <span class="error" id="confirm_pass_error"></span>
          <button type="submit" class="view-btn color-2 mt-20 w-100"><span>Forget Password</span></button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block scripts %}
<script src="{% static 'js/accounts.js' %}"></script> 
<script>
  password_check("#id_new_password1","#id_new_password2");

  //pass show and strength pulgin
  $(document).ready(function($) {
    $('#id_new_password1').passtrength({
      minChars:8,
      passwordToggle: false,
      tooltip: true,
    });
  });
  $(document).ready(function() {
    showPass_func('re_pass',"#id_new_password2");
  });
  $(document).ready(function() {
    showPass_func('pass',"#id_old_password");
  });
  $(document).ready(function() {
    showPass_func('pass',"#id_new_password1");
  });
</script>
{% endblock %}