{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load mptt_tags %}
{% load env_extras %}

{% block meta_tags %}
    <!-- Author Meta -->
    <meta name="author" content="">
    <!-- Meta Description -->
    <meta name="description" content="{% get_site_setting as site %}{{ site.contact_page_meta_description }}">
    <!-- Meta Keyword -->
    <meta name="keywords" content="{% get_site_setting as site %}{{ site.contact_page_meta_keywords }}">
{% endblock %}

{% block title_tag %}{% get_site_setting as site %}{{ site.contact_page_title }}{% endblock %}

{% block custom_css_and_links %}
{% endblock %}

{% block breadcrum %}
<section class="banner-area organic-breadcrumb">
    <div class="container mt-lg-0 mt-md-120 mt-120 mt-sm-200">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center">
            <div class="col-lg-12 col-xs-12 col-first col-sm-12 d-flex flex-wrap align-items-center">
                <a href="{% url 'home'%}">Home&nbsp;&nbsp;<i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;</a>
                <a href="{% url 'contact'%}">Contact Us</a>
            </div>
        </div>
    </div>
  </section>
{% endblock %}

{% block content %}

<div class="container mb-5">
    <div class="container">
        <div class="row success-messages">
            {% if messages %}
            {% for message in messages %}
                {% if  message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <span class="text-center"><i class="fa fa-check-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;{{message}}</span>
                {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div><h1>Contact Us</h1></div>
    <div class='mb-3 mt-2 contact-bottom-line banner-area'></div>
    <br />
    <div class="row">
        <div class="col-md-6 googleMapDiv">
            <div id="googlemap"></div>
        </div>
        <br />
        <div class="col-md-6">
            <form class="my-form" method="POST" action="{% url 'contact' %}">
                {% csrf_token %}
                {% for field in form %}
                    {% ifequal field.name 'contact_name' %}
                        <div class="form-group">
                            <label for="form-name">Name</label>
                            <input type="text" class="common-input" id="id_contact_name" name="contact_name" placeholder="Name">
                            <span class="error" id="contact_error"></span>
                        </div>
                    {% endifequal %}
                    {% ifequal field.name 'contact_email' %}
                    <div class="form-group">
                        <label for="form-email">Email Address</label>
                        <input type="email" class="common-input" id="id_contact_email" name="contact_email" placeholder="Email Address">
                        <span class="error" id="email_error"></span>
                    </div>
                    {% endifequal %}
                    {% ifequal field.name 'message' %}
                    <div class="form-group">
                        <label for="form-message">Email your Message</label>
                        <textarea class="common-input" id="id_message" name="message" placeholder="Message" rows="5"></textarea>
                    </div>
                    {% endifequal %}
                    {% for error in field.errors %}
                        <span class="error" id="field_errors">{{ error }}</span><br/>
                    {% endfor %}
                {% endfor %}
                <button class="btn btn-block genric-btn primary radius" type="submit" style="font-size: larger;">Contact Us</button>             
            </form>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
<script src="{% static 'js/accounts.js' %}"></script> 
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
    validate_email("#id_contact_email","#email_error");
    validate_name("#id_contact_name","#contact_error");
    jQuery(function ($) {
        // Google Maps setup
        var googlemap = new google.maps.Map(
            document.getElementById('googlemap'),
            {
                center: new google.maps.LatLng(21.082034, 72.5463),
                zoom: 8,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
        );
    });
</script>
{% endblock %}