{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load env_extras %}
{% block meta_tags %}
{% endblock %}

{% block title_tag %}{% get_site_setting as site %}{{ site.forget_page_title }}{% endblock %}

{% block custom_css_and_links %}

{% endblock %}

{% block breadcrum %}
<section class="banner-area organic-breadcrumb">
  <div class="container mt-lg-0 mt-md-120 mt-120 mt-sm-200">
      <div class="breadcrumb-banner d-flex flex-wrap align-items-center">
          <div class="col-lg-12 col-xs-12 col-first col-sm-12 d-flex flex-wrap align-items-center">
              <a href="{% url 'home'%}">Home&nbsp;&nbsp;<i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;</a>
              <a href="{% url 'accounts'%}">Accounts&nbsp;&nbsp;<i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;</a>
              <a href="{% url 'forget-password'%}">Forget Password</a>
          </div>
      </div>
  </div>
</section>
{% endblock %}

{% block content %}
<div class="container">
  <div class="container">
    <div class="row success-messages">
      {% if messages %}
        {% for message in messages %}
          {% if  message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <span class="text-center"><i class="fa fa-check-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;{{message}}</span>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="row account-form">
    <div class="col-md-12">
      <div class="login-form">
        <h3 class="billing-title text-center">Forget Password</h3>
        <p class="text-center mt-40 mb-30 account-sub-title">Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form action="{% url 'forget-password' %}" method="POST">  
          {% csrf_token %}
          {% for field in form %}
              <label for="{{ field.name }}">{{ field.label }} <span class="error">*</span></label>
              {% ifequal field.name 'email' %}
                <input type="email" name="email" class="common-input mt-20" required="" id="id_email">
                <span class="error" id="email_error">
                    {% if email_error %}
                        {{email_error}}
                    {% endif %}
                    {% if user_not_exsist %}
                        {{user_not_exsist}}
                    {% endif %}
                </span>
              {% endifequal %}
              <p class="help-text">{{ field.help_text }} </p>
              {% for error in field.errors %}
                <span class="error" id="field_errors">{{ error }}</span><br/>
              {% endfor %}
          {% endfor %}
          <button type="submit" class="view-btn color-2 mt-20 w-100"><span>Send Email</span></button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block scripts %}
<script src="{% static 'js/accounts.js' %}"></script> 
<script>
    validate_email("#id_email","#email_error");
</script>
{% endblock %}